.top{
  background-color: #D6E6F2;
  padding-top: 20px;
  text-align: center;
  position: relative;
}
.middle
{
  height:200px;
  width: 200px;
  background-color: #F7FBFC;
}
.bottom
{
  height:200px;
  width: 200px;
  background-color: #B9D7EA;
}
body
{
  background-color: #F7FBFC;
  margin: 0;

  text-align: center;

}
h1
{
  margin-top: 0;
  font-family: 'Square Peg', cursive;
  font-size: 10vh;
  padding-top: 150px;

}
nav
{
  float: right;
}
img
{
  margin: 0;
  padding: 0;

}
.mountain
{
  margin: auto;
  padding-top: 80px;
}
.code
{
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: underline;

}
.img1
{
  display: block;
  position:absolute;
  right: 400px;
  top: 50px;
}
.img2
{
  display: block;
  justify-content: space-around;
  position: absolute;
  left:  400px;
  bottom: 300px;
}
p
{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
