.top-container{
  background-color: #D6E6F2;
  padding-top: 20px;
  position: relative;
  text-align: center;

}
.middle-container
{

  background-color: #F7FBFC;
}
.bottom-container
{
  background-color: #B9D7EA;
}
body
{
  background-color: #F7FBFC;
  margin: 0;
  text-align: center;

}
.table
{
  margin-left: auto;
  margin-right: auto;
}
h1
{
  color: #66BFBF;
  font-family: 'Square Peg', cursive;
  font-size: 5.625rem;
  line-height: 2em;
  margin: 50px auto 0 auto;

}
h2
{
  color: #66BFBF;
  font-family: 'Square Peg', cursive;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
nav
{
  float: right;
}
img
{
  margin: 0;
  padding: 0;

}
.leaves
{
  border-radius: 20%;
  display: block;
  margin: auto;
  width: 35%;
  top: 200px;
  left: 42vw;
}
.code
{
  font-size: 1.25em;
  font-weight: bold;
  padding: 0;
  text-decoration: underline 9px;
}
.code:hover
{
  color: white;
}
.code:active
{
  color: #66BFBF;
  font-size: 1.5em;
  padding: 5px;
  text-decoration: none;
}
.top-h1
{
  top: 20px;

}
.img1
{
  display: block;
  position:absolute;
  right: 500px;
  top: 25px;
}
.img2
{
  display: block;
  justify-content: space-around;
  left:  500px;
  position: absolute;
  top: 75px;
}
.skill-row
{
  margin: 100 auto;
  width: 50%;
}
p
{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 2px;
}
.footer-link img {
	display:inline-block;
	padding: 5px;
  max-height: 25px;
}
a
{
  color: #11999E
}
